# Importing and cleaning data

Data source: https://www.kaggle.com/competitions/cafa-5-protein-function-prediction/data

First, run the following code in the conda environment to prevent exceeding the IOPub data rate for loading fasta files and then reopen the kernel:

jupyter notebook --NotebookApp.iopub_data_rate_limit=1.0e8

And make sure all packages are installed:
- pip install biopython
- pip install pandas
- pip install obonet

In [1]:
#pip install biopython

In [2]:
#pip install obonet

In [3]:
# load packages
from Bio import SeqIO
import pandas as pd
import obonet as obo
import numpy as np
import matplotlib.pyplot as plt
from seaborn import set_style
set_style('whitegrid')

In [4]:
# import go-basic.obo
graph = obo.read_obo('cafa-5-protein-function-prediction/Train/go-basic.obo')

# Convert the graph to a DataFrame and reset the index
go = pd.DataFrame.from_dict(graph.nodes, orient='index').reset_index()
go1 = go.rename(columns={go.columns[0]: 'go_term'})

# Keep only important columns
go = go1[['go_term', 'name', 'namespace']]
go.head()

,go_term,name,namespace
0,GO:0000001,mitochondrion inheritance,biological_process
1,GO:0000002,mitochondrial genome maintenance,biological_process
2,GO:0000003,reproduction,biological_process
3,GO:0000006,high-affinity zinc transmembrane transporter a...,molecular_function
4,GO:0000007,low-affinity zinc ion transmembrane transporte...,molecular_function

In [5]:
go1.head()

,go_term,name,namespace,def,synonym,is_a,alt_id,subset,xref,relationship,comment
0,GO:0000001,mitochondrion inheritance,biological_process,"""The distribution of mitochondria, including t...","[""mitochondrial inheritance"" EXACT []]","[GO:0048308, GO:0048311]",NaN,NaN,NaN,NaN,NaN
1,GO:0000002,mitochondrial genome maintenance,biological_process,"""The maintenance of the structure and integrit...",NaN,[GO:0007005],NaN,NaN,NaN,NaN,NaN
2,GO:0000003,reproduction,biological_process,"""The production of new individuals that contai...","[""reproductive physiological process"" EXACT []]",[GO:0008150],"[GO:0019952, GO:0050876]","[goslim_agr, goslim_chembl, goslim_flybase_rib...",[Wikipedia:Reproduction],NaN,NaN
3,GO:0000006,high-affinity zinc transmembrane transporter a...,molecular_function,"""Enables the transfer of zinc ions (Zn2+) from...","[""high affinity zinc uptake transmembrane tran...",[GO:0005385],NaN,NaN,NaN,NaN,NaN
4,GO:0000007,low-affinity zinc ion transmembrane transporte...,molecular_function,"""Enables the transfer of a solute or solutes f...",NaN,[GO:0005385],NaN,NaN,NaN,NaN,NaN

In [6]:
# import train_sequences.fasta

fasta_train = 'cafa-5-protein-function-prediction/Train/train_sequences.fasta'

train_sequences = []

# Open the FASTA file and iterate over each record
for record in SeqIO.parse(fasta_train, "fasta"):
    # Retrieve the sequence ID and sequence
    seq_id = record.id
    sequence = str(record.seq)
    
    # Append the sequence ID and sequence as a tuple to the list
    train_sequences.append((seq_id, sequence))

# convert to dataframe
trainset = pd.DataFrame(train_sequences, columns=['seq_id', 'sequence'])
trainset.head()

       seq_id                                           sequence
0      P20536  MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...
1      O73864  MTEYRNFLLLFITSLSVIYPCTGISWLGLTINGSSVGWNQTHHCKL...
2      O95231  MRLSSSPPRGPQQLSSFGSVDWLSQSSCSGPTHTPRPADFSLGSLP...
3  A0A0B4J1F4  MGGEAGADGPRGRVKSLGLVFEDESKGCYSSGETVAGHVLLEAAEP...
4      P54366  MVETNSPPAGYTLKRSPSDLGEQQQPPRQISRSPGNTAAYHLTTAM...

In [7]:
# import train_taxonomy.tsv
train_taxon_ID = pd.read_csv("cafa-5-protein-function-prediction/Train/train_taxonomy.tsv", sep="\t")
train_taxon_ID.sample(5)

           EntryID  taxonomyID
120295      A7LKG5      398511
5930        P60042       10116
106138      Q7TQI0       10090
29925       E7F5R7        7955
76736   A0A8I5Y8V2       10116

In [8]:
# import train_terms.tsv
train_terms = pd.read_csv("cafa-5-protein-function-prediction/Train/train_terms.tsv", sep="\t")
train_terms.sample(5)

        EntryID        term aspect
1390777  P41133  GO:0010605    BPO
1379442  P40367  GO:0043170    BPO
550600   H1ZV38  GO:0044238    BPO
5057376  Q14508  GO:0003674    MFO
636807   O14040  GO:0006725    BPO

In [9]:
len(trainset['seq_id'])

142246

In [10]:
#len(train_terms[EntryID]) = len(trainset['seq_id']) = 142246
print('rows_train_terms',len(train_terms['EntryID']))
print('different_id_train_terms',len(set(train_terms['EntryID'])))

#some EntryIDs have many terms(GO:...)
train_terms['EntryID'].value_counts().sort_values(ascending=False)

rows_train_terms 5363863
different_id_train_terms 142246

Q02248    815
Q62226    736
Q01705    721
P22725    709
P01137    668
         ...
P22179      2
C1BFM5      2
Q9NI45      2
O39491      2
F1R8A4      2
Name: EntryID, Length: 142246, dtype: int64

In [11]:
train_term = train_terms.copy()
train_term['term'] = train_term['term'].apply(lambda x: x[3:])
train_term.head()

      EntryID     term aspect
0  A0A009IHW8  0008152    BPO
1  A0A009IHW8  0034655    BPO
2  A0A009IHW8  0072523    BPO
3  A0A009IHW8  0044270    BPO
4  A0A009IHW8  0006753    BPO

In [12]:
type(train_terms['term'][0])

str

In [13]:
train_terms['aspect'].value_counts().sort_values(ascending=False)

BPO    3497732
CCO    1196017
MFO     670114
Name: aspect, dtype: int64

In [14]:
train_terms['term'].value_counts().sort_values(ascending=False)

GO:0005575    92912
GO:0008150    92210
GO:0110165    91286
GO:0003674    78637
GO:0005622    70785
              ...
GO:0050439        1
GO:0047470        1
GO:0033942        1
GO:0047921        1
GO:0102628        1
Name: term, Length: 31466, dtype: int64

In [15]:
set1 = set(train_terms['term'])
len(set1)

31466

In [16]:
# import IA.txt
IA = pd.read_csv("cafa-5-protein-function-prediction/IA.txt", delimiter='\t', header=None)
IA = IA.rename(columns={IA.columns[0]: 'go_term', IA.columns[1]: 'ia_score'})
IA.head()

      go_term  ia_score
0  GO:0000001  0.000000
1  GO:0000002  3.103836
2  GO:0000003  3.439404
3  GO:0000011  0.056584
4  GO:0000012  6.400377

In [17]:
set2 = set(IA['go_term'])
len(set2)

43248

In [18]:
len(set2-set1)

11782

In [19]:
43248-11782

31466

In [20]:
# import testsuperset.fasta
fasta_test = 'cafa-5-protein-function-prediction/Test (Targets)/testsuperset.fasta'

testsuperset = []

# Open the FASTA file and iterate over each record
for record in SeqIO.parse(fasta_test, "fasta"):
    # Retrieve the sequence ID and sequence
    seq_id = record.id
    sequence = str(record.seq)
    
    # Append the sequence ID and sequence as a tuple to the list
    testsuperset.append((seq_id, sequence))

# convert to dataframe
testset = pd.DataFrame(testsuperset, columns=['seq_id', 'sequence'])
testset.head()

   seq_id                                           sequence
0  Q9CQV8  MTMDKSELVQKAKLAEQAERYDDMAAAMKAVTEQGHELSNEERNLL...
1  P62259  MDDREDLVYQAKLAEQAERYDEMVESMKKVAGMDVELTVEERNLLS...
2  P68510  MGDREQLLQRARLAEQAERYDDMASAMKAVTELNEPLSNEDRNLLS...
3  P61982  MVDREQLVQKARLAEQAERYDDMAAAMKNVTELNEPLSNEERNLLS...
4  O70456  MERASLIQKAKLAEQAERYEDMAAFMKSAVEKGEELSCEERNLLSV...

In [21]:
# import testsuperset-taxon-list.tsv
test_taxon = pd.read_csv("cafa-5-protein-function-prediction/Test (Targets)/testsuperset-taxon-list.tsv", sep="\t", encoding="latin-1")
test_taxon.sample(5)

        ID                                    Species
63  186611      Thrasops jacksonii (black tree snake)
78  412038     Demansia vestigiata (black whip snake)
54    9541  Macaca fascicularis (crab-eating macaque)
37    3218               Physcomitrium patens [moses]
9    44689        Dictyostelium discoideum[All Names]

In [22]:
# after merging trainset and train_terms, and transforming GO:... term into digits, we get the following dataframe. 
merge = pd.merge(trainset, train_term, left_on = 'seq_id', right_on = 'EntryID', how = 'inner')
merge.drop('EntryID', axis = 1, inplace = True)
merge['term'].apply(lambda x: [int(digit) for digit in x])
merge.head()

   seq_id                                           sequence     term aspect
0  P20536  MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...  0008152    BPO
1  P20536  MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...  0071897    BPO
2  P20536  MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...  0044249    BPO
3  P20536  MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...  0006259    BPO
4  P20536  MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...  0009059    BPO

In [23]:
L = {'A':1, 'B':2, 'C':3, 'D':4,'E':5,
     'F':6,'G':7,'H':8,'I':9,'J':10,
     'K':11,'L':12,'M':13,'N':14,'O':15,
     'P':16,'Q':17,'R':18, 'S':19, 'T':20,
     'U':21, 'V':22, 'W':23,'X':24,'Y':25,'Z':26}

In [24]:
L['B']

2

In [31]:
merge

,seq_id,sequence,term,aspect,seq
0,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0008152,BPO,0
1,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0071897,BPO,0
2,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0044249,BPO,0
3,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0006259,BPO,0
4,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0009059,BPO,0
...,...,...,...,...,...
5363858,A0A8I6GHU0,HCISSLKLTAFFKRSFLLSPEKHLVLLRDGRTLIGFLRSIDQFANL...,0097159,MFO,0
5363859,A0A8I6GHU0,HCISSLKLTAFFKRSFLLSPEKHLVLLRDGRTLIGFLRSIDQFANL...,1901363,MFO,0
5363860,A0A8I6GHU0,HCISSLKLTAFFKRSFLLSPEKHLVLLRDGRTLIGFLRSIDQFANL...,0003674,MFO,0
5363861,A0A8I6GHU0,HCISSLKLTAFFKRSFLLSPEKHLVLLRDGRTLIGFLRSIDQFANL...,0003729,MFO,0
5363862,A0A8I6GHU0,HCISSLKLTAFFKRSFLLSPEKHLVLLRDGRTLIGFLRSIDQFANL...,0036002,MFO,0

In [ ]:
#This add a column seq_list, transforming list of letters of 'sequence' column into a list of numbers. 
#So that we can feed the data to neural network
merge['seq_list'] = merge['sequence'].apply(lambda x: [L[y] for y in x])

In [44]:
#This is am example of doing it for the first 10 rows.
merge['seq_list'] = merge['sequence'].iloc[:10].apply(lambda x: [L[y] for y in x])
merge.iloc[:10]

,seq_id,sequence,term,aspect,seq,seq_list
0,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0008152,BPO,0,"[13, 14, 19, 22, 20, 22, 19, 8, 1, 16, 25, 20,..."
1,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0071897,BPO,0,"[13, 14, 19, 22, 20, 22, 19, 8, 1, 16, 25, 20,..."
2,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0044249,BPO,0,"[13, 14, 19, 22, 20, 22, 19, 8, 1, 16, 25, 20,..."
3,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0006259,BPO,0,"[13, 14, 19, 22, 20, 22, 19, 8, 1, 16, 25, 20,..."
4,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0009059,BPO,0,"[13, 14, 19, 22, 20, 22, 19, 8, 1, 16, 25, 20,..."
5,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0009987,BPO,0,"[13, 14, 19, 22, 20, 22, 19, 8, 1, 16, 25, 20,..."
6,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,1901362,BPO,0,"[13, 14, 19, 22, 20, 22, 19, 8, 1, 16, 25, 20,..."
7,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0009058,BPO,0,"[13, 14, 19, 22, 20, 22, 19, 8, 1, 16, 25, 20,..."
8,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0044271,BPO,0,"[13, 14, 19, 22, 20, 22, 19, 8, 1, 16, 25, 20,..."
9,P20536,MNSVTVSHAPYTITYHDDWEPVMSQLVEFYNEVASWLLRDETSPIP...,0006725,BPO,0,"[13, 14, 19, 22, 20, 22, 19, 8, 1, 16, 25, 20,..."

In [39]:
# transferring to list of numbers is very time consuming, and the data file is super large.
# As a compensate, we can sum the numbers corresponding to letters in sequence.
#this will make the model very inaccurate. but I think it is doable at least.
#If the previous chunk of code can be run on your laptop, it would be great, and then we can omit this one.
def help(s):
    ans = 0
    for i in s:
        ans += L[i]
    return ans/len(s)
##sum the numbers corresponding to letters in sequence, and add a column called seq_sum.
merge['seq_sum'] = merge['sequence'].apply(help)

In [ ]:
#we generate a file of feather form (it is smaller than cvs), so we can work on this file directly.
merge.to_feather('data_total.feather')

In [ ]:
# check for missing data
print('go: \n', go.isna().sum(), '\n')
print('trainset: \n', trainset.isna().sum(), '\n')
print('train_taxon_ID: \n', train_taxon_ID.isna().sum(), '\n')
print('train_terms: \n', train_terms.isna().sum(), '\n')
print('IA: \n', IA.isna().sum(), '\n')
print('testset: \n', testset.isna().sum(), '\n')
print('test_taxon: \n', test_taxon.isna().sum(), '\n')

Train test split:

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                   shuffle = True,
                                                   random_state = 440,
                                                   test_size = .2,
                                                   )

In [ ]:
print("The shape of X_train is",X_train.shape)
print("The shape of X_test is",X_test.shape)

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
mlp1 = MLPClassifier(hidden_layer_sizes = (500,), max_iter = 5000)

In [ ]:
mlp1.fit(X_train, y_train)